[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wheel = "*"
setuptools = "*"
gdal = {path = "C:/Users/bryan/Downloads/GDAL-3.4.3-cp311-cp311-win_amd64.whl"}
psycopg2 = "*"
djangorestframework = "*"
geos = "*"
pillow = "*"
djangorestframework-gis = "*"

[dev-packages]

[requires]
python_version = "3.11"
